rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can only manage their own profile data.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Users can only manage their own journal entries.
    match /journalEntries/{entryId} {
      allow read, delete, update: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}